@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto:ital,wght@1,100;1,300&display=swap');
@import "../../shared/styles/colors";

.header-container {
	position: sticky;
	background: $color-primary;
	text-align: center;
	padding: 1rem;
}

.header-title,
.header-subtitle {
	color: $color-terciary;
}

.header-title {
	font-family: 'Archivo', sans-serif;
	font-weight: bold;
}

.header-subtitle {
	margin-top: 0.5rem;
	font-family: 'Roboto', sans-serif;
}