@import "src/shared/styles/_colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto:ital,wght@1,100;1,300&display=swap");

.jokes-container {
  padding: 2rem 1rem;
  width: 90%;
  max-width: 800px;
  height: auto;
  min-height: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 10px 20px rgba(74, 70, 75, 0.3);
  background-color: $color-secondary;
  margin: 2rem auto;
  &__buttons {
    width: 100%;
    margin-top: 1.5rem;
    gap: 1rem;
    &-display {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__text {
    color: $color-terciary;
    font-family: "Archivo", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .punchline {
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: darken($color-primary, 10%);
  }
}

.loading {
  margin-bottom: 2rem;
  width: 50px;
  height: 50px;

  @media (max-height: 400px) {
    margin-bottom: 1rem;
  }
}
