@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto:ital,wght@1,100;1,300&display=swap');
@import "../../shared/styles/colors";

.footer-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	background-color: $color-primary;

	&__text {
		text-align: center;
		padding: 1rem;
		color: $color-terciary;
		font-family: 'Roboto', sans-serif;
	}
}