@import "../styles/_colors.scss";

.button {
	min-width: 130px;
	padding: 20px 30px;
	background-color: $color-secondary;
	border: 0;
	border-radius: 10px;
	color: $color-text;
	box-shadow: 0px 0px 0px rgba(195, 115, 236, 0.4);
	transition: all 0.3s ease;
}

.button:hover {
	box-shadow: -5px 5px 0px rgba(211, 69, 239, 0.4);
	transform: translateY(-5px);
}