@import "../styles/_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto:ital,wght@1,100;1,300&display=swap');

.button {
	min-width: 130px;
	padding: 20px 30px;
	background-color: $color-secondary;
	border: 0;
	border-radius: 10px;
	color: $color-terciary;
	transition: all 0.3s ease;
	font-family: 'Archivo', sans-serif;
}

.button:hover {
	box-shadow: -5px 5px 0px $color-terciary;
	transform: translateY(-5px);
}